.FlexColumn {
  display: inline-flex;
  flex-direction: column;
}

.FlexRow {
  display: inline-flex;
  flex-direction: row;
}

.Value {
  margin: inherit;
}

.ValueInput {
  border: 1px solid var(--gray);
  background: var(--background);
  box-sizing: border-box;
  color: var(--yellow);
  height: 48px;
  line-height: 1.65;
  outline: 0;
  padding-left: 20px;
  width: 48px;
  margin: inherit;
}

.ValueLabel {
  font-size: 11px;
  padding: 5px;
}

.ValueButton {
  background-color: var(--background);
  border: 1px solid var(--gray);
  border-left: 0;
  color: var(--yellow);
  cursor: pointer;
  font-size: 13px;
  line-height: 1.7;
  text-align: center;
  user-select: none;
  width: 24px;
}

.ValueButton:hover {
  background-color: var(--gray);
}
